[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dynaTree"]
	path = dynaTree
	url = https://github.com/cran/dynaTree
[submodule "laGP"]
	path = laGP
	url = https://github.com/cran/laGP
[submodule "maptree"]
	path = maptree
	url = https://github.com/cran/maptree
[submodule "monomvn"]
	path = monomvn
	url = https://github.com/cran/monomvn
[submodule "plgp"]
	path = plgp
	url = https://github.com/cran/plgp
[submodule "reglogit"]
	path = reglogit
	url = https://github.com/cran/reglogit
[submodule "tgp"]
	path = tgp
	url = https://github.com/cran/tgp
